body{
  background-color: black;
  color: white;
}

button{
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}
.og{

  gap: 10px;
}

.page1{
  width: 100px;
  height: 100px;
  background-color: white;
}
.page2{
  width: 100px;
  height: 100px;
  background-color: red;
}
.page3{
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
}
.page4{
  width: 100px;
  height: 100px;
  background-color: gray;
}
.page5{
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}
.page6{
  width: 100px;
  height: 100px;
  background-color: aqua;
}
.page7{
  width: 100px;
  height: 100px;
  background-color: yellow;
}