*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', sans-serif;
  
}

html,body{
  height: 100%;
  width: 100%;
}

.Parent{
  min-height: 100vh;
  width: 100%;
  background-color: black;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

.card{
  height: 300px;
  width: 300px;
  border-radius: 5%;
  background-color: white;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;;
}

.logo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: lightgray;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 90px;
  line-height: auto;
}

.center2{
  display: flex;
  justify-content: space-between;
}

.c21{
  padding: 10px;
  border-radius: 30px;
  background-color: lightgray
  
}

.c22{
  padding: 10px;
  border-radius: 30px;
  background-color: lightgray;
  margin-right: 80px;
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  border-top: 2px solid lightgray;
}

.b1{
  margin-bottom: 0px;
  margin-left: 10px;
}

.b2{
  margin-right: 10px;
}