*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

.Parent{
  height: 100vh;
  width: 100%;
  background-color: black;
}

.card{
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}