*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

.Parent{
  height: 100vh;
  width: 100%;
  background-color: black;
}

.card{
  height: 600px;
  width: 600px
  background-color: white;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: gray;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center2{
  display: flex;
  justify-content: space-between;
}

.c21{
  padding: 10px;
  border-radius: 30px;
  background-color: gray
  
}

.c22{
  padding: 10px;
  border-radius: 30px;
  background-color: gray
}