*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #fff;
}

html,
body{
  height: 100% ;
  width: 100% ;
}

body{
  background-color: black;
  align-items: center;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.card{
  width: 300px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  background-color: #333;
}

.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.card p{
  margin: 20px 20px;
}

.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

