*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

html,
body{
  height: 100% ;
  width: 100% ;
}

.card{
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}